/* Mirayi Edits */
.selected-26oxtA {
	background: rgba(100, 100, 100, 0.2);
    transition: 0.2s ease;
}
.selected-26oxtA:hover {
	background: rgba(100, 100, 100, 0.35) !important;
    transition: 0.2s ease;
}
.theme-dark #vc-spotify-player {
	background: transparent !important;
}
.childWrapper-1j_1ub {
	background-color: rgba(0,0,0,.7);
}
.root-1CAIjD {
	background-color: rgba(30,30,30,.3) !important;
}
.footer-IubaaS {
	background-color: rgba(0,0,0,.3) !important;
}
.vc-notification-root {
	background-color: rgba(0,0,0,0.8) !important;
    border-left: 5px solid var(--main-theme-color) !important;
}
.theme-dark .bar-2H7Q9u, .theme-dark .markDash-1ATsxA {
	background: rgba(100,100,100,0.3) !important;
}
.folder-241Joy {
	background: rgba(100,100,100,0.2) !important;
}
.searchBar-2aylmZ {
	background: rgba(0,0,0,0.5); !important;
}
.childWrapper-1j_1ub:hover {
	background-color: var(--brand-experiment) !important;
}
.selected-1-Z6gm .layout-1qmrhw {
	background-color: rgba(100,100,100,0.2);
}
.expanded-3lghlw {
	border: 1px solid rgba(100,100,100,0.2);
}
.barFill-3RgCsY {
	background: var(--main-theme-color);
}
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx, .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
	background-color: var(--main-theme-color);
}